.auto-style1 {
    width: 221px;
}

.auto-style2 {
    height: 34px;
}

.auto-style3 {
    height: 33px;
}

.auto-style5 {
    height: 30px;
    width: 680px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.auto-style6 {
    width: 697px;
    height: 450px;
}

.auto-style7 {
    height: 40px;
}

.auto-style9 {
    width: 221px;
    height: 40px;
}

.auto-style10 {
    width: 221px;
    height: 33px;
}

.auto-style13 {
    height: 24px;
}

.auto-style14 {
    height: 40px;
    width: 350px;
}

.auto-style15 {
    height: 50px;
    width: 350px;
}
