.auto-style5 {
    width: 168px;
}

.auto-style7 {
    width: 980px;
    height: 464px;
}

.auto-style9 {
    width: 168px;
    height: 46px;
}

.auto-style10 {
    height: 46px;
}

.auto-style11 {
    width: 350px;
    height: 38px;
}

.auto-style12 {
    width: 350px;
    height: 48px;
}
